.about_me{
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.subtitle{
    margin-bottom: 80px;
    font-size: 36px;
    font-weight: 400;
}

.about_me-video{
    width: 80%;
    height: auto;
}